
 .login-container {
  height: 100%;
  min-width: 1300px;
}

.login-container {
  background: url(../../../../assets/imgs/suzhou-login/bg.png) no-repeat;
  background-size: 100% 100%;
}

header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 56px;
  text-align: center;
  background: url(../../../../assets/imgs/suzhou-login/header-bg.png) no-repeat;
  background-size: 100% 100%;

  h1 {
    height: 100%;
    line-height: 56px;
    font-size: 28px;
    color: #ffffff;
  }
}


main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: calc(100% - 56px - 170px);
}
 .entrances {
   width: 1250px;
   display: flex;
   height: 100%;
   margin: 3% auto 0;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap:wrap;

 }
 .entry {
   width: 260px;
   height: 246px;
   background: url(../../../../assets/imgs/suzhou-login/entry-bg.png) no-repeat;
   background-size: 100% 100%;
   font-size: 26px;
   color: #00FDFF;
   cursor: pointer;
   font-family: PingFangSC-Semibold;
   text-align: center;
 }
 .entry img{
   width: 160px;
   height: 143px;
   display: block;
   margin: 35px auto 10px;
 }
