<ng-container *ngIf="currentPageNum===pageTypeEnum.MainPage">
    <div style="width: 1416px;margin:100px auto 0;">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
            <div nz-col [nzSpan]="8">
                <nz-card class="fh" (click)="goDetailPlan()">
                    <p>江苏省防汛防旱应急预案</p>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card class="dz">
                    <p>江苏省地震应急预案</p>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card class="qx">
                    <p>江苏省气象灾害应急预案</p>
                </nz-card>
            </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
            <div nz-col [nzSpan]="8">
                <nz-card class="zr">
                    <p>江苏省自然灾害应急预案</p>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card class="zh">
                    <p>江苏省突发地质灾害预案</p>
                </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-card class="tf">
                    <p>江苏省防御台风应急预案</p>
                </nz-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="currentPageNum===pageTypeEnum.FloodDroughtControl">
    <app-natural-disaster-plan (returnBack)="goMainPage()"></app-natural-disaster-plan>
</ng-container>
