.fh, .dz, .qx, .zr, .tf, .zh {
  max-width: 440px;
  max-height: 200px;
  background-image: url("../../../../assets/imgs/sbg.png");
  background-position: 340px 35px;
  background-repeat: no-repeat;
  border-radius: 9px;
  overflow: hidden;
}

.fh {
  background-color: #28B8D3;
}

.dz {
  background-color: #D65BD1;
}

.qx {
  background-color: #F58A77;
}

.zr {
  background-color: #8678FD;
}

.tf {
  background-color: #589EFF;
}

.zh {
  background-color: #F7A656;
}

p {
  font-family: PingFang-SC-Regular;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 150px;
  text-align: center;
  font-weight: lighter;
}

[nz-row] {
  margin-top: 60px;
}
