
<ng-container *ngIf="currentPage===pageTypeEnum.List">
    <ng-container *ngFor="let indicator of indicatorIntro;">
        <header>{{indicator.kind}}</header>
        <div class="organization-wrap">
            <div class="organization-item" *ngFor="let item of indicator.disaster">
                <h5>{{item.name}}</h5>
                <span>{{item.subName}}：<br>
                <span style="padding:0" *ngFor="let desc of item.desc">{{desc}}</span><br>。。。<br>
                </span>
                <div class="btn">
                    <button nz-button nzType="primary" (click)="item.goDetail(item.name)">进入详情</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>


<ng-container *ngIf="currentPage===pageTypeEnum.DetailOrExamine">
    <app-criteria-detail (returnBack)="currentPage=pageTypeEnum.List" [indicator]="selIndicator"></app-criteria-detail>
</ng-container>

