<nz-page-header class="site-page-header" nzTitle="地震灾害判别"></nz-page-header>
<div class="normal-wrap" style="padding: 50px;">
    <div nz-row [nzGutter]="24" class="nzgutter">
        <div nz-col nzSpan="11">
            发生灾害地区
            <nz-select nzPlaceHolder="请下拉选择" [(ngModel)]="selected.province"
                       (ngModelChange)="changeProvince($event)">
                <nz-option *ngFor="let item of provinceData" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
            市
            <nz-select nzPlaceHolder="请下拉选择" [(ngModel)]="selected.city">
                <nz-option *ngFor="let c of cityData" [nzValue]="c.value" [nzLabel]="c.label"></nz-option>
            </nz-select>
            区(县)
        </div>
        <div nz-col nzSpan="13">
            <nz-space>
                <nz-space-item>
                    <div class="first"><a [routerLink]="['/hazard/natural-disaster/earthquake-disaster-first']"
                                          target="_blank" *ngIf="disabled">启动一级</a>
                        <span *ngIf="!disabled">启动一级</span>
                    </div>
                </nz-space-item>
                <nz-space-item>
                    <div class="second"><a
                            [routerLink]="['/hazard/natural-disaster/earthquake-disaster-second']"
                            target="_blank" *ngIf="disabled">启动二级</a><span *ngIf="!disabled">启动二级</span></div>

                </nz-space-item>
                <nz-space-item>
                    <div class="third"><a
                            [routerLink]="['/hazard/natural-disaster/earthquake-disaster-third']"
                            [queryParams]="{provinceId:this.selected.province,type:'0'}" target="_blank"
                            *ngIf="disabled">启动三级</a>
                        <span *ngIf="!disabled">启动三级</span>
                    </div>
                </nz-space-item>
                <nz-space-item>
                    <div class="fourth"><span>启动四级</span></div>
                </nz-space-item>
            </nz-space>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="24">
            <table>
                <thead>
                <tr>
                    <td width="197">地震分级</td>
                    <td width="320">特别重大</td>
                    <td width="320">重大</td>
                    <td width="320">较大</td>
                    <td width="320">一般</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="2" class="color-bg">初判指标</td>
                    <td>1、省陆地行政区域发生<b>6.0</b>级以上；<br/>
                        2、<b>近海海域50千米</b>或我省陆地边界<b>50千米以内</b>的邻省（市）<b>7.0级以上地震</b>
                    </td>
                    <td>1、省陆地行政区域发生<b>5.0以上、6.0</b>级以下；<br/>
                        2、<b>近海海域50千米</b>或我省陆地边界50千米以内的邻省（市）<b>6.0级以上、7.0</b>级以下地震
                    </td>
                    <td>1、省陆地行政区域发生<b>4.0以上、5.0级以下</b>；<br/>
                        2、近海海域50千米或我省陆地边界50千米以内的邻省（市）5.0级以上、6.0级以下地震
                    </td>
                    <td>1、省陆地行政区域发生<b>4.0级以下有感地震；</b></td>
                </tr>
                <tr>
                    <td>1、<b>300</b>人以上死亡（含失踪）；<br/>2、直接经济损失占我省上半年地区生产总值<b>1%以上</b>的地震灾害</td>
                    <td>1、<b>50人以上、300人</b>以下死亡（含失踪）；<br/>2、严重经济损失</td>
                    <td>1、<b>10人以上、50人</b>以下死亡（含失踪）；<br/>2、较重经济损失</td>
                    <td>1、<b>10人</b>以下死亡（含失踪）；<br/>2、一定经济损失</td>
                </tr>
                <tr>
                    <td class="color-bg">分级响应</td>
                    <td><b>Ⅰ级响应</b>；响应机构：<b>省抗震救灾指挥部</b>。根据需要，报请国家抗震救灾指挥机构</td>
                    <td><b>Ⅱ级响应</b>；响应机构：<b>省抗震救灾指挥部</b>。根据需要，报请国家抗震救灾指挥机构</td>
                    <td><b>Ⅲ级响应</b>；响应机构：<b>灾区所在设区市抗震救灾指挥部</b>。根据情况，省省抗震救灾指挥部组织协调；<br/>根据需要，报请应急管理部、中国地震局协助做好</td>
                    <td><b>Ⅳ级响应</b>；响应机构：<b>灾区所在县（市、区）抗震救灾指挥部</b>。根据情况，组织有关部门开展；<br/>根据灾区需求，省抗震救灾指挥部协助做好</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        注1：江苏近海海域为：黄海、东海；邻省（市）：河南、山东、安徽、浙江、上海。<br/>
                        注2：涉及<b style="font-size: 14px">两个以上</b>设区市行政区域内的<b style="font-size: 14px">较大</b>以上地震灾害事件的应急处置，可由省抗震救灾指挥部协调指挥。<br/>
                        注3：可根据省委、省政府领导要求和震情、灾情发展情况对响应级别及时进行相应调整，避免响应不足或响应过度。
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
