<ng-container>
    <div class="cla-wrap">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
            <!-- <div nz-col nzSpan="3" nzPush="1" nzJustify="end" class="first-plan">所属预案:</div>
             <div nz-col nzSpan="4" nzJustify="space-between" class="plan">预案一</div>
             <div nz-col nzSpan="4" nzJustify="space-between" class="plan">预案二</div>
             <div nz-col nzSpan="4" nzJustify="space-between" class="plan">预案三</div>
             <div nz-col nzSpan="4" nzJustify="space-between" class="plan">预案四</div>
             <div nz-col nzSpan="4" nzJustify="space-between" class="plan">预案五</div>-->
            <div class="inner-wrap">
                <dl class="bg-one">
                    <dt class="main-title">▎总指挥</dt>
                    <div class="bordercolor">
                        <dd>主 &emsp;&emsp;任</dd>
                        <dd>座 &emsp;&emsp;机&emsp;0225-46559033</dd>
                        <dd style="width: 16px;height: 15px;"><img src="../../../../../../assets/imgs/zuoji.png" alt=""></dd>
                        <dd>岗位职责:主要负责监督大家完成团队任务和指标</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <button nz-button nzSize="large" nzType="primary" (click)="goMainPage()" [nzGhost]="true">返回</button>
</ng-container>

