<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
    <div nz-col nzSpan="23" nzOffset="1" nzJustify="center"
         style="background-color: #F2FDFF;padding: 15px;margin-top: 20px;cursor: pointer">
        <div class="main-title" style="color: #18BFDE;margin-left: 15px">▎总指挥</div>
        <dl class="bg-one" style=" border: 1px solid #28B8D3;margin-left: 33px">
            <dt style=" color: #18BFDE;letter-spacing: 23px;">主任</dt>
            <br/>
            <dt><span class="justy-colum">座机</span><span class="iphone">0225-46559033 </span><img
                    src="../../../../../../assets/imgs/zuoji.png" alt="" style="width: 16px;height: 15px;"></dt>
            <dt style="color: #18BFDE;"><span style="margin-right: 10px;">岗位职责:</span>&nbsp;&nbsp;主要负责监督大家完成团队任务和指标就打开了市纪委据了解垃圾拉进来的空间
            </dt>
        </dl>
    </div>
</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24}">
    <div nz-col nzSpan="23" nzOffset="1" nzJustify="center" style="padding: 15px;margin-top: 20px;cursor: pointer">
        <nz-tabset nzSize="large">
            <nz-tab nzTitle="运输队">
                <div style="background-color: #FFF7F0;margin-top: 20px;padding: 15px;">
                    <div class="main-title" style="color: #FF860F;">&nbsp;运输队负责人</div>
                    <dl class="bg-one" style=" border: 1px solid #FF860F;margin-left: 20px;">
                        <dt style="color: #FF860F;letter-spacing: 23px;">主任</dt>
                        <br/>
                        <dt><span class="justy-colum">座机</span><span class="iphone">0225-46559033 </span><img
                                src="../../../../../../assets/imgs/zuoji.png" alt="" style="width: 16px;height: 15px;">
                        </dt>
                        <dt style="color: #FF860F;"><span style="margin-right: 10px;">岗位职责:</span>&nbsp;&nbsp;主要负责监督大家完成团队任务和指标就打开了市纪委据了解垃圾拉进来的空间
                        </dt>
                    </dl>
                </div>
            </nz-tab>
            <nz-tab nzTitle="医疗队">
                <div style="background-color: #FFF7F0;padding: 15px;margin-top: 20px">
                    <div class="main-title" style="color: #FF860F">&nbsp;医疗队负责人</div>
                    <dl class="bg-one" style=" border: 1px solid #FF860F;margin-left: 20px;">
                        <dt>主任</dt>
                        <br/>
                        <dt><span class="justy-colum">座机</span><span class="iphone">0225-46559033 </span><img
                                src="../../../../../../assets/imgs/zuoji.png" alt="" style="width: 16px;height: 15px;">
                        </dt>
                        <dt style="color: #FF860F;"><span style="margin-right: 10px;">岗位职责:</span>&nbsp;&nbsp;主要负责监督大家完成团队任务和指标就打开了市纪委据了解垃圾拉进来的空间
                        </dt>
                    </dl>
                </div>
            </nz-tab>
            <nz-tab nzTitle="救援队">
                <div style="background-color: #FFF7F0;padding: 15px;margin-top: 20px">
                    <div class="main-title" style="color: #FF860F">&nbsp;救援队负责人</div>
                    <dl class="bg-one" style=" border: 1px solid #FF860F;margin-left: 20px;">
                        <dt>主任</dt>
                        <br/>
                        <dt><span class="justy-colum">座机</span><span class="iphone">0225-46559033 </span><img
                                src="../../../../../../assets/imgs/zuoji.png" alt="" style="width: 16px;height: 15px;">
                        </dt>
                        <dt style="color: #FF860F;"><span style="margin-right: 10px;">岗位职责:</span>&nbsp;&nbsp;主要负责监督大家完成团队任务和指标就打开了市纪委据了解垃圾拉进来的空间
                        </dt>
                    </dl>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

</div>
<button nz-button   (click)="goMainPage()"  class="color-btn">返回</button>


