
<div class="hexagon-wrap">
    <div nz-row [nzJustify]="'space-between'" class="pos-reltive" nzAlign="middle">
        <div nz-col class="hexagon-item hexagon-item-click" (click)="changeTree(1)">初报、正式报告</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(2)">灾情研判分析</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(3)">应急响应建议</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(4)">向上级部门报告</div>

        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive mt-90" nzAlign="middle">
        <div nz-col class="hexagon-item" (click)="changeTree(8)">救援力量投入方案</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(7)">现场指挥部组建方案</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(6)">先期工作组人员名单</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(5)">省领导赴现场方案</div>
        <div class="abs-arrow-left"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive mt-90"  nzAlign="middle">
        <div nz-col class="hexagon-item" (click)="changeTree(9)">通信保障方案</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(10)">救灾资金、物资支持方案</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(11)">发布救灾捐赠公告</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(12)">新闻方案</div>
        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'" class="mt-90" nzAlign="middle">
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(14)">现场信息采集</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(13)">辅助指挥决策“一张图”</div>
    </div>
</div>
<app-earth-tree-tpl [cityName]="cityName" [responsibilityEntities]="responsibilityEntities"
              [currentNum]="currentTree"></app-earth-tree-tpl>


