<ng-container  *ngIf="currentPageNum===pageTypeEnum.List">
  <div class="login-container">
    <header>
      <h1>
        江苏省突发事件应急处置数字化系统
      </h1>
    </header>
    <main>
      <section class="entrances" >
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/1.svg" alt="应急预案管理">
          <div>
            应急预案管理
          </div>
        </div>
          <div class="entry" (click)="goStatusWarning()">
          <img src="../../../../assets/imgs/2.svg" alt="状态预警发布">
          <div>
            状态预警发布
          </div>
        </div>
        <div class="entry" (click)="goEmergency()">
          <img src="../../../../assets/imgs/3.svg" alt="决策指挥">
          <div>
            决策指挥
          </div>
        </div>
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/4.svg" alt="省地联动响应">
          <div>
            省地联动响应
          </div>
        </div>
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/5.svg" alt="省地应急响应">
          <div>
          省地应急响应
          </div>
        </div>
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/6.svg" alt="专家支撑">
          <div>
          专家支撑
            </div>
        </div>
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/8.svg" alt="资源调配">
          <div>
          资源调配
            </div>
        </div>
          <div class="entry" (click)="goAlert()">
          <img src="../../../../assets/imgs/7.svg" alt="系统配置">
          <div>
          系统配置
            </div>
        </div>
      </section>
    </main>
  </div>
</ng-container>



