
.login-container {
  overflow: hidden;
  height: 100%;
  min-width: 1300px;
  background: url(../../../../assets/imgs/suzhou-login/bg.png) no-repeat;
  background-size: 100% 100%;
}

header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 143px;
  text-align: center;
  background: url(../../../../assets/imgs/suzhou-login/header-bg.png) no-repeat;
  background-size: 100% 100%;

  h1 {
    height: 100%;
    line-height: 143px;
    font-family: PingFangSC-Medium;
    font-size: 38px;
    color: #7EFAFC;
    letter-spacing: 1.58px;
  }

  @media screen and (max-width: 1440px) {
    h1 {
      line-height: 113px;
    }
  }
}


main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  // height: calc(100% - 56px - 170px);
}

.entrances {
  max-width: 1200px;
  display: flex;
  margin: 200px auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;


}

.entry {
  width: 260px;
  height: 246px;
  background: url(../../../../assets/imgs/suzhou-login/entry-bg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 26px;
  color: #00FDFF;
  cursor: pointer;
  font-family: PingFangSC-Semibold;
  text-align: center;
}

.entry img {
  width: 154px;
  height: 130px;
  display: block;
  margin: 35px auto 10px;
}
