.ant-back-top-inner {
  height: 64px;
  width: 64px;
  background: url("../../../../../../../assets/imgs/up.svg");
}

.first, .second, .third, .fourth {
  font-family: PingFang-SC-Medium;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  width: auto;
  padding: 0 18px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.first {
  margin-right: 15px;
  background-color: #FF6C6D;
}


.second {
  margin-right: 15px;
  background-color: #FF9934;
}


.third {
  margin-right: 15px;
  background-color: #FFC34D;
}


.fourth {
  cursor: not-allowed;
  background-color: #1990FF;
}

.color-bg {
  font-weight: bold;
  text-align: center;
  background: #FAFAFA;
  vertical-align: middle !important;
}

.person {
  text-align: left !important;
}

table {
  font-family: PingFangSC-Medium;
  cellpadding: 0;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #323233;
}

tbody tr td {
  padding: 10px 5px;
  font-size: 14px;
  color: #323233;
  line-height: 28px;
  border: 1px solid #E8E8E8;
  vertical-align: middle;
  text-align: center;
}

thead td {
  text-align: center;
  background-color: #FAFAFA;
  line-height: 60px;
  border: 1px solid #E8E8E8;
  color: #1D1D1E;
  font-weight: bold;
}

.fontweight {
  font-weight: bold;
  color: #1990FF !important;
}

tfoot td {
  padding-top: 30px;
  border: none;
  text-align: left;
  font-size: 12px;
  color: #666463;
  line-height: 22px;
}
