<nz-content style="margin: 30px 0 40px;">
    <aside style="position:fixed;top: 51%;left: 5%;z-index: 1;">
        <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="true">
            <nz-link nzHref="#oneStep" nzTitle="预警信息及灾害信息发布"></nz-link>
            <nz-link nzHref="#twoStep" nzTitle="建立省指挥部"></nz-link>
            <nz-link nzHref="#threeStep" nzTitle="建立现场指挥部"></nz-link>
            <nz-link nzHref="#fourStep" nzTitle="开展现场应急处置"></nz-link>
            <nz-link nzHref="#fiveStep" nzTitle="协调其他应急力量参与"></nz-link>
            <nz-link nzHref="#sixStep" nzTitle="辅助指挥决策信息保障"></nz-link>
            <nz-link nzHref="#sevenStep" nzTitle="现场事态控制及环境监测"></nz-link>
            <nz-link nzHref="#eightStep" nzTitle="应急结束"></nz-link>
            <nz-link nzHref="#nineStep" nzTitle="善后调查"></nz-link>
        </nz-anchor>
    </aside>
    <div style="margin-left: 300px;">
        <table>
            <thead>
            <tr>
                <td width="170">应急响应流程</td>
                <td width="840" colspan="4">应急组织</td>
                <td width="210">联系人及联系方式</td>
                <td width="145">备注</td>
                <td width="210">状态</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="color-bg" id="oneStep">预警信息及灾害信息发布</td>
                <td colspan="2">省应急管理厅</td>
                <td colspan="2">应急指挥中心</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="4" class="color-bg" id="twoStep">建立省指挥部</td>
                <td rowspan="4">省指挥部</td>
                <td>总指挥</td>
                <td>省人民政府指定</td>
                <td>分管副省长</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>副总指挥</td>
                <td>省人民政府指定</td>
                <td></td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>应急管理办公室</td>
                <td>省指挥部下设</td>
                <td class="fontweight">省应急管理厅：应急指挥中心</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>成员</td>
                <td>成员单位</td>
                <td>分管应急副厅长</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" id="threeStep">建立现场指挥部</td>
                <td>现场指挥部</td>
                <td>现场指挥</td>
                <td>省指挥部指定</td>
                <td>事发地人民政府主要负责人<br/>或省应急管理厅分管副职</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" rowspan="47" id="fourStep">开展现场应急处置</td>
                <td rowspan="47">应急救援工作组</td>
                <td rowspan="5">专业处置组</td>
                <td>牵头部门</td>
                <td>省消防救援总队</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioOne">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="4">配合部门</td>
                <td>省军区</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>武警江苏省总队</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>事发单位</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="3">警戒疏散组</td>
                <td>牵头部门</td>
                <td>省公安厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioTwo">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="2">配合部门</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>事发单位</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="2">交通管制组</td>
                <td>牵头部门</td>
                <td>省公安厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioThree">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td>配合部门</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="2">医疗救护组</td>
                <td>牵头部门</td>
                <td>省卫生健康委员会</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioFour">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td>配合部门</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="11">环境气象监测组</td>
                <td>牵头部门</td>
                <td>省生态环境厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioFive">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="10">配合部门</td>
                <td>省自然资源厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省气象局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省住房和城乡建设厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省交通运输厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省水利厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省农业农村厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省卫生健康委员会</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省林业局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>江苏海事局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>连云港海事局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="12">综合保障组</td>
                <td>牵头部门</td>
                <td>省人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioSix">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="11">配合部门</td>
                <td class="fontweight">省应急管理厅：<br/>
                    救灾和物资保障处
                </td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省发展和改革委员会</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省交通运输厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省财政厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省住房和城乡建设厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省粮食和物资储备局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省水利厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省商务厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>江苏能源监管办</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省通信管理局</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="5">应急专家组</td>
                <td>牵头部门</td>
                <td>省应急管理办公室</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioSeven">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="4">配合部门</td>
                <td class="fontweight">省应急管理厅：<br/>
                    危险化学品安全监督管理处
                </td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省生态环境厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省卫生健康委员会</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>事发单位</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="3">综合协调组</td>
                <td>牵头部门</td>
                <td>省人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioEight">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="2">配合部门</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>相关成员部门（单位）</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="4">舆情新闻组</td>
                <td>牵头部门</td>
                <td>省委宣传部</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>
                    <nz-radio-group [(ngModel)]="radioNine">
                        <label nz-radio nzValue="进行中">进行中</label>
                        <label nz-radio nzValue="已就位">已就位</label>
                    </nz-radio-group>
                </td>
            </tr>
            <tr>
                <td rowspan="3">配合部门</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省应急管理办公室</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="fontweight">省应急管理厅：新闻宣传处</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="2" class="color-bg" id="fiveStep">协调其他应急力量参与</td>
                <td colspan="3" rowspan="2">省应急管理厅</td>
                <td>应急指挥中心</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>救援协调和预案管理处</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" id="sixStep">辅助指挥决策信息保障</td>
                <td colspan="3">省应急管理厅</td>
                <td>科技和信息化处</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" rowspan="4" id="sevenStep">现场事态控制及环境监测</td>
                <td colspan="2" rowspan="4">现场指挥部</td>
                <td colspan="2">各应急工作小组</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td rowspan="3">应急管理厅</td>
                <td>应急指挥中心</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>科技和信息化处</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>救灾和物资保障处</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" id="eightStep">应急结束</td>
                <td colspan="2">省指挥部</td>
                <td colspan="2">总指挥</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="color-bg" rowspan="4" id="nineStep">善后调查</td>
                <td rowspan="4" colspan="2">省人民政府</td>
                <td rowspan="4">事故调查组</td>
                <td>事发地人民政府</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省卫生健康委员会</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td>省生态环境厅</td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            <tr>
                <td class="fontweight">省应急管理厅：<br/>
                    调查评估和统计处
                </td>
                <td class="person">联 系 人 ：李晓红<br/>联系方式：18543265808</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <button nz-button nzType="primary" (click)="OnSendMsg()">应急响应启动信息一键发送</button>
                </td>
                <td>
                    <button nz-button nzType="default" (click)="OnOverMsg()">应急响应结束信息一键发送</button>
                </td>
                <td colspan="5"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</nz-content>
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
    <ng-template #tpl>
        <div class="ant-back-top-inner"></div>
    </ng-template>
</nz-back-top>


