
<div class="hexagon-wrap">
    <div nz-row [nzJustify]="'space-between'" class="pos-reltive" nzAlign="middle">
        <div nz-col class="hexagon-item hexagon-item-click">省级接警</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">预警监测</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">信息研判</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">信息上报</div>

        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive" nzAlign="middle" style="margin-top: 90px">
        <div nz-col class="hexagon-item">救援力量调度<br>及保障</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item">分组开展<br>应急救援工作</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item">启动应急响应</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item">先期处置</div>
        <div class="abs-arrow-left"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive"  nzAlign="middle" style="margin-top: 90px">
        <div nz-col class="hexagon-item">应急物资<br>调度及保障</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">通信、电力<br>保障方案</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">现场信息采集</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item">辅助指挥<br>决策信息</div>
        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'" nzAlign="middle" style="margin-top: 90px">
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="hexagon-item">善后处理与<br>事故调查</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item">事态控制</div>
    </div>
</div>
