<div class="tree-diagram">
    <!--初报、正式报告-->
    <ng-container *ngIf="currentNum===1">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(156, $event)">地震局相关处室</div>
            </div>
        </div>
    </ng-container>
    <!--灾情研判分析-->
    <ng-container *ngIf="currentNum===2">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(161, $event)">地震地质处</div>
                <div (click)="showModal(160, $event)">救灾处</div>
                <div class="lastone" (click)="showModal(158, $event)">指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(157, $event)">地震局相关处室</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(159, $event)">省消防总队相关处室</div>
            </div>
        </div>
    </ng-container>
    <!--应急响应建议-->
    <ng-container *ngIf="currentNum===3">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(162, $event)">地震地质处</div>
            </div>
        </div>
    </ng-container>
    <!--向上级部门报告-->
    <ng-container *ngIf="currentNum===4">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(163, $event)">指挥中心</div>
                <div class="lastone" (click)="showModal(164, $event)">地震地质处</div>
            </div>
        </div>
    </ng-container>

    <!--省领导赴现场方案-->
    <ng-container *ngIf="currentNum===5">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(165, $event)">办公室</div>
            </div>
        </div>

    </ng-container>

    <!--先期工作组人员名单-->
    <ng-container *ngIf="currentNum===6">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(166, $event)">地震地质处</div>
                <div class="lastone" (click)="showModal(167, $event)">救援协调处</div>
            </div>
        </div>
    </ng-container>
    <!--现场指挥部组建方案-->
    <ng-container *ngIf="currentNum===7">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(17, $event)">省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(168, $event)">地震地质处</div>
                <div class="lastone" (click)="showBigModal(169, $event)">救援协调处</div>
            </div>
        </div>
    </ng-container>
    <!--救援力量投入方案-->
    <ng-container *ngIf="currentNum===8">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(171, $event)">救援协调处</div>
                <div (click)="showModal(170, $event)">地震地质处</div>
                <div class="lastone" (click)="showModal(173, $event)">指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(172, $event)">省消防总队相关处室</div>
            </div>
        </div>
    </ng-container>

    <!--通信保障方案-->
    <ng-container *ngIf="currentNum===9">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(174, $event)">科信处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(175, $event)">省消防总队相关处室</div>
            </div>
        </div>
    </ng-container>

    <!--救灾资金、物资支持方案-->
    <ng-container *ngIf="currentNum===10">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(176, $event)">救灾处</div>
            </div>
        </div>
    </ng-container>

    <!--发布救灾捐赠公告-->
    <ng-container *ngIf="currentNum===11">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(177, $event)">救灾处</div>
            </div>
        </div>
    </ng-container>

    <!--新闻方案-->
    <ng-container *ngIf="currentNum===12">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(178, $event)">新闻处</div>
            </div>
        </div>
    </ng-container>
    <!--辅助指挥决策“一张图”-->
    <ng-container *ngIf="currentNum===13">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(179, $event)">指挥中心</div>
                <div class="lastone" (click)="showModal(180, $event)">科信处</div>
            </div>
        </div>
    </ng-container>

    <!--现场信息采集-->
    <ng-container *ngIf="currentNum===14">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(183, $event)">省消防总队相关处室</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(181, $event)">指挥中心</div>
                <div (click)="showModal(182, $event)">救灾处</div>
                <div class="lastone" (click)="showModal(184, $event)">科信处</div>
            </div>
        </div>
    </ng-container>
    <!--三四级灾害-->
    <!--先期处置-->
    <ng-container *ngIf="currentNum===15">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(186, $event)">事发地人民政府</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(185, $event)">
                <div>事发地抗震救灾指挥部</div>
            </div>
        </div>
    </ng-container>
    <!--事故信息接收-->
    <ng-container *ngIf="currentNum===16">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(188, $event)">
                <div>应急指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省地震局</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(187, $event)">
                <div>地震局相关处室</div>
            </div>
        </div>
    </ng-container>
    <!--应急指导-->
    <ng-container *ngIf="currentNum===17">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(95, $event)">省地震局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(189, $event)">救援协调和预案管理处</div>
                <div class="lastone" (click)="showModal(190, $event)">地震地质处</div>
            </div>
        </div>
    </ng-container>
    <!--灾情报送-->
    <ng-container *ngIf="currentNum===18">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(191, $event)">
                <div>应急指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(192, $event)">省地震局</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(193, $event)">
                <div>地震地质处</div>
            </div>
        </div>
    </ng-container>
    <!--应急处置-->
    <ng-container *ngIf="currentNum===19">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(196, $event)">地震地质处</div>
                <div (click)="showModal(197, $event)">新闻宣传处</div>
                <div class="lastone" (click)="showModal(201, $event)">调查评估和统计处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(194, $event)">省委宣传部</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(195, $event)">省地震局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(198, $event)">省公安厅</div>
            </div>
        </div>
    </ng-container>
    <!--应急结束-->
    <ng-container *ngIf="currentNum===20">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(200, $event)">事发地人民政府</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(199, $event)">
                <div>事发地抗震救灾指挥部</div>
            </div>
        </div>
    </ng-container>
</div>

<!--弹窗样式一、二-->
<div class="modal" *ngIf="isVisible">
    <div class="closeButton" (click)="handleCancel()">
        <img src="../../../../../../../assets/imgs/tree/close.png"
             alt=""></div>
    <h3>省人民政府</h3>
    <div class="space-middle">
        <div><span>&emsp;联系人</span>：{{data.linkman}}</div>
        <div><span>联系方式</span>：{{data.linkPhone}}</div>
        <div class="clearfix">
            <span>岗位职责</span>：
            <div style="float: right;font-size: 20px;width: 350px;">
                <ng-container *ngFor="let item of data.responsibilityDetailSort;let i =index;">
                    {{i + 1}}、{{item}}<br/>
                </ng-container>
            </div>
        </div>
        <div class="clearfix" *ngIf="userRole===userRoleEnum.Manage;">
            <span>完成进度</span>：
            <div style="float: right;font-size: 20px;">
                <textarea rows="5" cols="33" [(ngModel)]="data.completeSchedule"></textarea><br/>
                <button nz-button nzType="primary" class="btn" (click)="submitBtu()">提交</button>
            </div>
        </div>
         <div style="position:relative;" *ngIf="userRole===userRoleEnum.User;">
             <span>完成进度</span>：
             <div style="position: absolute;top: 0;left: 120px;">
                 {{data.completeSchedule}}
             </div>
         </div>
    </div>
</div>
<!--弹窗样式三-->
<div class="modal-big" *ngIf="isWithVisible">
    <div class="closeButton" (click)="handlerCancel()">
        <img src="../../../../../../../assets/imgs/tree/close.png"
             alt=""></div>
    <h3>配合部门</h3>
    <div class="flex-columer" style="justify-content: space-around;align-items:flex-start;margin-top: 20px;">
        <div>
            <ul class="line-time">
                <li *ngFor="let tab of tabContent;" (click)="chooseTab(tab['id'])"
                    [ngClass]="{'active':tabId==tab['id']}">{{tab['responsibilityName']}}</li>
            </ul>
        </div>
        <div>
            <ul class="line-content" *ngFor="let index of tabContent">
                <li *ngIf="tabId==index['id']">
                    <div class="line-space-middle">
                        <div><span>&emsp;联系人</span>：<span style="margin-left: 35px;">{{index['linkman']}}</span></div>
                        <div><span>联系方式</span>：<span style="margin-left: 15px;">{{index['linkPhone']}}</span></div>
                        <div class="clearfix">
                            <span>岗位职责</span>：
                            <div style="float: right;font-size: 20px;width: 320px;">
                                <ng-container *ngFor="let item of index['responsibilityDetailSort'];let i =index;">
                                    {{i + 1}}、{{item}}<br/>
                                </ng-container>
                            </div>
                        </div>
                        <div class="clearfix" *ngIf="userRole===userRoleEnum.Manage;">
                            <span>完成进度</span>：
                            <div style="float: right;font-size: 20px;">
                                <textarea rows="5" cols="30" [(ngModel)]="index['completeSchedule']"></textarea><br/>
                                <button nz-button nzType="primary" class="btn" (click)="submitWithBtu()">提交</button>
                            </div>
                        </div>
                          <div style="position: relative;" *ngIf="userRole===userRoleEnum.User;">
                              <span>完成进度</span>：
                              <div style="position:absolute;left: 120px;top: 0;">
                                  {{bigModalData.completeSchedule}}
                              </div>
                          </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
