<ng-container *ngIf="currentPage===pageTypeEnum.List">
  <!--头部版块-->
  <nz-page-header class="site-page-header" nzTitle="标准列表">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>首页</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>列表页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>标准列表</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <!--搜索板块-->
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [hidden]="!control.show">
        <nz-form-item>
          <nz-form-label [nzFor]="'field' + control.index">Field {{ control.index }}</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="placeholder" [formControlName]="'field' + control.index" [attr.id]="'field' + control.index" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
        <button nz-button (click)="resetForm()"><i nz-icon nzType="close-circle" nzTheme="outline"></i>重置</button>
        <a class="collapse" (click)="toggleCollapse()">
          展开
          <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
        </a>
      </div>
    </div>
  </form>
  <!--表格板块-->
  <button nz-button (click)="addRow()" nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>新增</button>
  <br /><br />
  <app-ufast-table [dataList]="listOfData" [tableConfig]="tableConfig" [getListHandle]="getDataList.bind(this)"></app-ufast-table>
</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.AddOrEdit">
  <app-product-edit [currentPageNum]="tableConfig.pageNum" [id]="itemId"  (returnBack)="returnToList($event)"></app-product-edit>
</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.DetailOrExamine">
  <app-product-detial [currentPageNum]="tableConfig.pageNum"  [id]="itemId"  (returnBack)="returnToList($event)"></app-product-detial>
</ng-container>

<ng-template #operationTpl let-amount="amount" let-id="id">
  <span class="operate-text" (click)="delete(id)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</span>
  <span class="operate-text" (click)="edit(id)"><i nz-icon nzType="edit" nzTheme="outline"></i>修改</span>
  <span class="operate-text" (click)="goDetail(id)"><i nz-icon nzType="diff" nzTheme="outline"></i>查看</span>
</ng-template>
