<nz-page-header class="site-page-header" nzTitle="新增汇报信息"></nz-page-header>
<div class="normal-wrap">
    <div class="form-wrap">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzType="flex" nzJustify="start">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>灾害类型</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <nz-select nzPlaceHolder="请下拉选择类型" formControlName="accidentType">
                        <nz-option *ngFor="let item of accidentTypeOptions" [nzLabel]="item.label"
                                   [nzValue]="item.value"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>级别</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <nz-radio-group (ngModelChange)="changeValue($event)" formControlName="accidentGrade">
                        <label nz-radio [nzValue]="1">一级</label>
                        <label nz-radio [nzValue]="3">三级</label>
                        <label nz-radio [nzValue]="4">四级</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="1" nzOffset="5">
                    <nz-form-text>由</nz-form-text>
                </nz-form-control>
                <nz-form-control [nzSpan]="5">
                    <nz-select (ngModelChange)="changeDepartmentFn($event)" nzPlaceHolder="请下拉选择类型"
                               formControlName="sendDepartment">
                        <nz-option *ngFor="let item of departmentNameOptions" [nzLabel]="item.label"
                                   [nzValue]="item.value"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-control [nzSpan]="1" nzOffset="1">
                    <nz-form-text>向</nz-form-text>
                </nz-form-control>
                <nz-form-control [nzSpan]="5">
                    <nz-select (ngModelChange)="changeDepartmentFns($event)" nzPlaceHolder="请下拉选择类型"
                               formControlName="acceptDepartment">
                        <nz-option *ngFor="let item of departmentOptions" [nzLabel]="item.label"
                                   [nzValue]="item.value"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-control [nzSpan]="1" nzOffset="1">
                    <nz-form-text>{{isTrue}}</nz-form-text>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="6" nzOffset="5">
                    <button nz-button nzType="primary" class="btn">提交</button>
                    <button nz-button nzType="default" (click)="returnToList()">返回</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

