<div class="sharpContainer">、
    <h2>工作汇报流程</h2>
    <div class="big-hexagon-l"></div>
    <div class="mid-hexagon-l"></div>
    <div class="left-hexagon">
       公安厅长
    </div>
    <p class="work">指挥工作</p>
    <ul class="arrow">
        <li></li>
        <li></li>
        <li></li>
        <li style=" border-left: 20px solid #EA7431;opacity: 0.3;"></li>
        <li style=" border-left: 20px solid #EA7431;opacity: 0.1;"></li>
    </ul>
    <div id="demo14"></div>

    <div class="big-hexagon-r"></div>
    <div class="mid-hexagon-r"></div>
    <div class="right-hexagon">
        下级部门
    </div>
</div>
