<nz-page-header class="site-page-header" nzTitle="预案信息详情"></nz-page-header>
<div class="normal-wrap">
    <div class="form-wrap">
        <nz-card nzTitle="▏预案名称" [nzBordered]="false">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="预案名称">Zhou Maomao</nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
        <nz-card nzTitle="▏总指挥" [nzBordered]="false">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="负责部门" [nzSpan]="1">Zhou Maomao</nz-descriptions-item>
                <nz-descriptions-item nzTitle="座机">18100000000</nz-descriptions-item>
                <nz-descriptions-item nzTitle="岗位职责">高级表单常见于一次性输入和提交大批量数据的场景。（示例采用响应式表单，也可使用模板驱动方式）
                </nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
        <nz-card nzTitle="▏管理小队" [nzBordered]="false">
            <nz-card nzType="inner" nzTitle="小队" [nzBordered]="false">
                <nz-descriptions>
                    <nz-descriptions-item nzTitle="小队岗位" [nzSpan]="1">Zhou Maomao</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="负责部门">18100000000</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="座机">Hangzhou, Zhejiang</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="岗位职责">高级表单常见于一次性输入和提交大批量数据的场景。（示例采用响应式表单，也可使用模板驱动方式）
                    </nz-descriptions-item>
                </nz-descriptions>
            </nz-card>
            <nz-card nzType="inner" nzTitle="小队" [nzBordered]="false">
                <nz-descriptions>
                    <nz-descriptions-item nzTitle="小队岗位" [nzSpan]="1">Zhou Maomao</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="负责部门">18100000000</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="座机">Hangzhou, Zhejiang</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="岗位职责">高级表单常见于一次性输入和提交大批量数据的场景。（示例采用响应式表单，也可使用模板驱动方式）
                    </nz-descriptions-item>
                </nz-descriptions>
            </nz-card>
        </nz-card>
    </div>
</div>
<nz-footer>
    <button nz-button nzType="primary" (click)="returnToList()">返回</button>
</nz-footer>


