
<div class="hexagon-wrap">
    <div nz-row [nzJustify]="'space-between'" class="pos-reltive" nzAlign="middle">
        <div nz-col class="hexagon-item hexagon-item-click" (click)="changeTree(1)">省级接警</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(2)">预警监测</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(3)">信息研判</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(4)">信息上报</div>

        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive mt-90" nzAlign="middle">
        <div nz-col class="hexagon-item" (click)="changeTree(8)">救援力量调度<br>及保障</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(7)">分组开展<br>应急救援工作</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(6)">启动应急响应</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(5)">先期处置</div>
        <div class="abs-arrow-left"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'"  class="pos-reltive mt-90"  nzAlign="middle">
        <div nz-col class="hexagon-item" (click)="changeTree(9)">应急物资<br>调度及保障</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(10)">通信、电力<br>保障方案</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(11)">现场信息采集</div>
        <div nz-col class="hexagon-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(12)">辅助指挥<br>决策信息</div>
        <div class="abs-arrow-right"></div>
    </div>
    <div nz-row [nzJustify]="'space-between'" class="mt-90" nzAlign="middle">
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="empty-div"></div>
        <div nz-col class="empty-div-arrow"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(14)">善后处理与<br>事故调查</div>
        <div nz-col class="hexagon-arrow-left"></div>
        <div nz-col class="hexagon-item" (click)="changeTree(13)">事态控制</div>
    </div>
</div>
<app-tree-tpl [responsibilityEntities]="responsibilityEntities" [currentNum]="currentTree"></app-tree-tpl>


