<header>专家库</header>
<section class="file-wrap">
    <div class="kind-title">
        <span>自然灾害类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item"  (click)="goPage()">省级专家库</li>
        <li class="expert-item"  (click)="goPage()">市级专家库</li>
        <li class="expert-item"  (click)="goPage()">区县级专家库</li>
    </ul>
    
    <div class="kind-title">
        <span>事故灾害类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item"  (click)="goPage()">省级专家库</li>
        <li class="expert-item"  (click)="goPage()">市级专家库</li>
        <li class="expert-item"  (click)="goPage()">区县级专家库</li>
    </ul>

    <div class="kind-title">
        <span>公共卫生类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item"  (click)="goPage()">省级专家库</li>
        <li class="expert-item"  (click)="goPage()">市级专家库</li>
        <li class="expert-item"  (click)="goPage()">区县级专家库</li>
    </ul>

    <div class="kind-title">
        <span>社会安全类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item"  (click)="goPage()">省级专家库</li>
        <li class="expert-item"  (click)="goPage()">市级专家库</li>
        <li class="expert-item"  (click)="goPage()">区县级专家库</li>
    </ul>
</section>
