<header>技术支撑</header>
<section class="file-wrap">
    <div class="kind-title">
        <span>其他专业支撑平台</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goOther('Poisoning')">中毒救援人员平台</li>
        <li class="expert-item" (click)="goOther('traffic')">交通运输部海上救助平台</li>
        <li class="expert-item" (click)="goOther('earthquake')">国家救援地震救援平台</li>

    </ul>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goOther('Flood')">防汛抗旱救援平台</li>
        <li class="expert-item" (click)="goOther('Fire')">国家消防救援指挥平台</li>
        <li class="expert-item">后续更多</li>
    </ul>
    <div class="kind-title">
        <span>自然灾害类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goPage()">省级专家库</li>
        <li class="expert-item" (click)="goPage()">设区市专家库</li>
        <li class="expert-item" (click)="goPage()">县（市、区）专家库</li>
    </ul>

    <div class="kind-title">
        <span>事故灾害类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goPage()">省级专家库</li>
        <li class="expert-item" (click)="goPage()">设区市专家库</li>
        <li class="expert-item" (click)="goPage()">县（市、区）专家库</li>
    </ul>

    <div class="kind-title">
        <span>公共卫生类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goPage()">省级专家库</li>
        <li class="expert-item" (click)="goPage()">设区市专家库</li>
        <li class="expert-item" (click)="goPage()">县（市、区）专家库</li>
    </ul>

    <div class="kind-title">
        <span>社会安全类</span>
    </div>
    <ul class="expert-wrap">
        <li class="expert-item" (click)="goPage()">省级专家库</li>
        <li class="expert-item" (click)="goPage()">设区市专家库</li>
        <li class="expert-item" (click)="goPage()">县（市、区）专家库</li>
    </ul>
</section>
