<div class="organization-wrap">
    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>

    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

</div>
<header>省应急管理厅下属处室</header>
<div class="organization-wrap">
    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>

    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

    <div class="organization-item">
        <h5>交通管理厅</h5>
        <span>交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处理。交通管理厅主要负责管理厅内部重要事务处理，交通管理厅主要负责管理厅内部重要事务处。</span>
        <div class="btn"><button nz-button nzType="primary">进入平台</button></div>
    </div>

</div>
