<header>系统配置</header>

<section class="file-wrap">
    <nz-descriptions nzTitle="系统配置" nzBordered>
        <nz-descriptions-item nzTitle="系统名称">江苏省突发事件应对处置数字化系统</nz-descriptions-item>
        <nz-descriptions-item nzTitle="操作系统" [nzSpan]="2">Window7以上</nz-descriptions-item>
        <nz-descriptions-item nzTitle="运行状态" [nzSpan]="3">
            <nz-badge nzStatus="processing" nzText="运行中"></nz-badge>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="推荐浏览器">Chrome浏览器</nz-descriptions-item>
        <nz-descriptions-item nzTitle="内存">2GB以上</nz-descriptions-item>
        <nz-descriptions-item nzTitle="存储空间">256M以上</nz-descriptions-item>
        <nz-descriptions-item nzTitle="开发厂商">江苏国恒</nz-descriptions-item>
        <nz-descriptions-item nzTitle="管理员联系方式" [nzSpan]="2">abc@qq.com</nz-descriptions-item>
        <nz-descriptions-item nzTitle="配套信息">
            数据库类型: MySql
            <br/>
            数据库版本: 5.7
            <br/>
            系统版本: 1.0.0<br/>
        </nz-descriptions-item>

    </nz-descriptions>
</section>


