<nz-page-header class="site-page-header" nzTitle="响应机制"></nz-page-header>
<div class="normal-wrap" style="padding: 50px 0">
    <table>
        <thead>
        <tr>
            <td width="197">地震分级</td>
            <td width="320">特别重大</td>
            <td width="320">重大</td>
            <td width="320">较大</td>
            <td width="320">一般</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2" class="color-bg">初判指标</td>
            <td>1、省陆地行政区域发生6.0级以上；<br/>
                2、近海海域50千米或我省陆地边界50千米以内的邻省（市）7.0级以上地震
            </td>
            <td>1、省陆地行政区域发生5.0以上、6.0级以下；<br/>
                2、近海海域50千米或我省陆地边界50千米以内的邻省（市）6.0级以上、7.0级以下地震
            </td>
            <td>1、省陆地行政区域发生4.0以上、5.0级以下；<br/>
                2、近海海域50千米或我省陆地边界50千米以内的邻省（市）5.0级以上、6.0级以下地震
            </td>
            <td>1、省陆地行政区域发生4.0级以下有感地震；</td>
        </tr>
        <tr>
            <td>1、300人以上死亡（含失踪）；<br/>2、直接经济损失占我省上半年地区生产总值1%以上的地震灾害</td>
            <td>1、50人以上、300人以下死亡（含失踪）；<br/>2、严重经济损失</td>
            <td>1、10人以上、50人以下死亡（含失踪）；<br/>2、较重经济损失</td>
            <td>1、10人以下死亡（含失踪）；<br/>2、一定经济损失</td>
        </tr>
        <tr>
            <td class="color-bg">分级响应</td>
            <td>Ⅰ级响应；响应机构：省抗震救灾指挥部。根据需要，报请国家抗震救灾指挥机构</td>
            <td>Ⅱ级响应；响应机构：省抗震救灾指挥部。根据需要，报请国家抗震救灾指挥机构</td>
            <td>Ⅲ级响应；响应机构：灾区所在设区市抗震救灾指挥部。根据情况，省省抗震救灾指挥部组织协调；<br/>根据需要，报请应急管理部、中国地震局协助做好</td>
            <td>Ⅳ级响应；响应机构：灾区所在县（市、区）抗震救灾指挥部。根据情况，组织有关部门开展；<br/>根据灾区需求，省抗震救灾指挥部协助做好</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                注1：江苏近海海域为：黄海、东海；邻省（市）：河南、山东、安徽、浙江、上海。<br/>
                注2：涉及两个以上设区市行政区域内的较大以上地震灾害事件的应急处置，可由省抗震救灾指挥部协调指挥。<br/>
                注3：可根据省委、省政府领导要求和震情、灾情发展情况对响应级别及时进行相应调整，避免响应不足或响应过度。
            </td>
        </tr>
        </tfoot>
    </table>
</div>
