
header {
  width: 100%;
  min-width: 1200px;
  height: 91px;
  text-align: center;
  color: #1990FF;
  font-size: 20px;
  line-height: 91px;
  border-bottom: 2px solid #ECF0F1;
}

.file-wrap {
  padding: 24px 40px 53px 40px;
  margin: 40px auto 0 auto;
  width: 80%;
  border: 1px solid #F2F3F5;
  box-shadow: 3px 3px 12px 0 rgba(228, 228, 228, 0.50);
  border-radius: 9px;


  .kind-title {
    line-height: 35px;
    height: 35px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 18px;
    color: #364064;

    span {
      position: relative;
      margin: 0 20px;

      &:after {
        position: absolute;
        top: 50%;
        border-radius: 5px;
        content: '';
        display: block;
        background: #007AFF;
        border: 1px solid #007AFF;
        width: 5px;
        height: 20px;
        left: -16px;
        transform: translate(-50%, -50%);
      }
    }

  }

  .file-list {
    font-size: 14px;
    padding-top: 26px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 26px;
      cursor: pointer;
      .file-ico{
        margin-right: 17px;
      }
      &:hover{
        background: yellow;
      }

      i {
        font-size: 16px;
        color: #1990FF;
      }
    }
  }
}
