<header>应急预案库</header>
<section class="file-wrap">
    <div class="kind-title">
        <span>总预案</span>
    </div>
    <ul class="file-list">
        <li  *ngFor="let item of dataList.allType"><a [href]="item.planUrl" target="_blank"><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>《{{item.planName}}》</span><i nz-icon nzType="download" nzTheme="outline"></i></a></li>
    </ul>

    <div class="kind-title">
        <span>自然灾害类</span>
    </div>
    <ul class="file-list">
        <li  *ngFor="let item of dataList.naturalDisaster"><a [href]="item.planUrl" target="_blank"><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>《{{item.planName}}》</span><i nz-icon nzType="download" nzTheme="outline"></i></a></li>
    </ul>

    <div class="kind-title">
        <span>事故灾害类</span>
    </div>
    <ul class="file-list">
        <li  *ngFor="let item of dataList.accidentDisaster"><a [href]="item.planUrl" target="_blank"><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>《{{item.planName}}》</span><i nz-icon nzType="download" nzTheme="outline"></i></a></li>
    </ul>

    <div class="kind-title">
        <span>公共卫生类</span>
    </div>
    <ul class="file-list">
        <li  *ngFor="let item of dataList.publicHealth"><a [href]="item.planUrl" target="_blank"><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>《{{item.planName}}》</span><i nz-icon nzType="download" nzTheme="outline"></i></a></li>
    </ul>

    <div class="kind-title">
        <span>社会安全类</span>
    </div>
    <ul class="file-list">
        <li  *ngFor="let item of dataList.societySafety"><a [href]="item.planUrl" target="_blank"><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>《{{item.planName}}》</span><i nz-icon nzType="download" nzTheme="outline"></i></a></li>
    </ul>

    <div class="kind-title">
        <span>其他地市预案库</span>
    </div>

    <nz-layout>
        <nz-content>
            <div nz-row nzJustify="space-around">
                <div nz-col nzSpan="5" (click)="goDetail('NanJing')" class="gutter-row-odd" [nzOffset]="1">南京市</div>
                <div nz-col nzSpan="5" (click)="goDetail('WuXi')" class="gutter-row-odd">无锡市</div>
                <div nz-col nzSpan="5" (click)="goDetail('XuZhou')" class="gutter-row-odd">徐州市</div>
                <div nz-col nzSpan="5" (click)="goDetail('ChangZhou')" class="gutter-row-odd">常州市</div>
            </div>
            <div nz-row nzJustify="space-around" class="marginTop">
                <div nz-col nzSpan="5" (click)="goDetail('SuZhou')" class="gutter-row-even" [nzOffset]="1">苏州市</div>
                <div nz-col nzSpan="5" (click)="goDetail('NanTong')" class="gutter-row-even">南通市</div>
                <div nz-col nzSpan="5" (click)="goDetail('LianYunGang')" class="gutter-row-even">连云港市</div>
                <div nz-col nzSpan="5" (click)="goDetail('HuaiAn')" class="gutter-row-even">淮安市</div>
            </div>
            <div nz-row nzJustify="space-around" class="marginTop">
                <div nz-col nzSpan="5" (click)="goDetail('YanCheng')" class="gutter-row-oddd" [nzOffset]="1">盐城市</div>
                <div nz-col nzSpan="5" (click)="goDetail('YangZhou')" class="gutter-row-oddd">扬州市</div>
                <div nz-col nzSpan="5" (click)="goDetail('ZhenJiang')" class="gutter-row-oddd">镇江市</div>
                <div nz-col nzSpan="5" (click)="goDetail('TaiZhou')" class="gutter-row-oddd">泰州市</div>
            </div>
            <div nz-row nzJustify="space-around" class="marginTop">
                <div nz-col nzSpan="5" (click)="goDetail('SuQian')" class="gutter-row-evenn" [nzOffset]="1">宿迁市</div>
                <div nz-col nzSpan="5"></div>
                <div nz-col nzSpan="5"></div>
                <div nz-col nzSpan="5"></div>
            </div>
        </nz-content>
    </nz-layout>


</section>
