<header>应急预案库</header>
<section class="file-wrap">
    <div class="kind-title">
        <span>总预案</span>
    </div>
    <ul class="file-list">
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
    </ul>

    <div class="kind-title">
        <span>自然灾害类</span>
    </div>
    <ul class="file-list">
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
    </ul>

    <div class="kind-title">
        <span>事故灾害类</span>
    </div>
    <ul class="file-list">
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
    </ul>

    <div class="kind-title">
        <span>公共卫生类</span>
    </div>
    <ul class="file-list">
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
    </ul>

    <div class="kind-title">
        <span>社会安全类</span>
    </div>
    <ul class="file-list">
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
        <li><span><i class="file-ico" nz-icon nzType="file-text" nzTheme="outline"></i>江苏省应急管理厅10002号文件</span><i nz-icon nzType="download" nzTheme="outline"></i></li>
    </ul>
</section>
