<form nz-form nzType="flex" nzJustify="start">
  <nz-form-item nz-col nzSpan="24">
    <nz-form-label nzSpan="3">姓名</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text></nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col nzSpan="24">
    <nz-form-label nzSpan="3">电话</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text></nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col nzSpan="24">
    <nz-form-label nzSpan="3">邮箱</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text></nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col nzSpan="24">
    <nz-form-label nzSpan="3">密码</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text></nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col nzSpan="24">
    <nz-form-label nzSpan="3">密码</nz-form-label>
    <nz-form-control nzSpan="8">
      <nz-form-text></nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzSpan="24">
    <nz-form-control [nzSpan]="8" [nzOffset]="3">
      <button nz-button nzType="primary" (click)="returnBackToList()" [nzGhost]="true" class="m-l-sm">返回</button>
    </nz-form-control>
  </nz-form-item>
</form>

