<div class="tree-diagram">
    <!--省级接警-->
    <ng-container *ngIf="currentNum===1">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(1, $event)">应急指挥中心</div>
            </div>
        </div>
    </ng-container>
    <!--预警监测-->
    <ng-container *ngIf="currentNum===2">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(2, $event)">应急指挥中心</div>
                <div (click)="showModal(3, $event)">危化处</div>
                <div class="lastone" (click)="showModal(4, $event)">风险监测和综合减灾处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(5, $event)">省气象局</div>
            </div>
        </div>
    </ng-container>
    <!--信息研判-->
    <ng-container *ngIf="currentNum===3">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(7, $event)">应急指挥中心</div>
                <div class="lastone" (click)="showModal(6, $event)">危化处</div>
            </div>
        </div>
        <!--  <div class="flex-columer">
              <div class="firstStep">
                  <div>应急管理厅</div>
              </div>
              <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
              <div class="secondStep">
                  <div>危化处</div>
              </div>
          </div>
          <br/>
          <div class="flex-columer">
              <div class="firstStep">
                  <div>应急管理厅</div>
              </div>
              <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
              <div class="secondStep">
                  <div>应急指挥中心</div>
              </div>
          </div>-->
    </ng-container>
    <!--信息上报-->
    <ng-container *ngIf="currentNum===4">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(10, $event)">省应急管理办公室</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(8, $event)">应急指挥中心</div>
                <div class="lastone" (click)="showModal(9, $event)">办公室</div>
            </div>
        </div>
    </ng-container>

    <!--先期处置-->
    <ng-container *ngIf="currentNum===5">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(11, $event)">事发单位</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(12, $event)">事故地人民政府</div>
            </div>
        </div>
    </ng-container>

    <!--启动应急响应-->
    <ng-container *ngIf="currentNum===6">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(14, $event)">省指挥部</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(16, $event)">应急指挥中心</div>
                <div (click)="showModal(13, $event)">办公室</div>
                <div class="lastone" (click)="showModal(15, $event)">区域合作处</div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentNum===7">
        <!--分组开展应急救援工作-->
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(17, $event)">综合协调组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(18, $event)">省人民政府</div>
                <div class="lastone" (click)="showBigModal(17, $event)">配合部门（单位）</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(21, $event)">专业处置组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(22, $event)">省消防救援总队</div>
                <div class="lastone" (click)="showBigModal(21, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(27, $event)">警戒疏散组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(28, $event)">省公安厅</div>
                <div class="lastone" (click)="showBigModal(27, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(31, $event)">交通管制组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(32, $event)">省公安厅</div>
                <div class="lastone" (click)="showBigModal(31, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(34, $event)">医疗救护组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(35, $event)">省卫生健康委员会</div>
                <div class="lastone" (click)="showBigModal(34, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(37, $event)">环境气象监测组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(38, $event)">省生态环境厅</div>
                <div class="lastone" (click)="showBigModal(37, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(49, $event)">综合保障组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(50, $event)">省人民政府</div>
                <div class="lastone" (click)="showBigModal(49, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(62, $event)">应急专家组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(63, $event)">省应急管理办公室</div>
                <div class="lastone" (click)="showBigModal(62, $event)">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(68, $event)">舆情新闻组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(69, $event)">省委宣传部</div>
                <div class="lastone" (click)="showBigModal(68, $event)">配合部门（单位）</div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="currentNum===8">
        <!--救援力量调度及保障-->
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(73, $event)">应急指挥中心</div>
                <div (click)="showModal(74, $event)">危化处</div>
                <div class="lastone" (click)="showModal(75, $event)">区域合作处</div>
            </div>
        </div>
    </ng-container>

    <!--应急物资调度及保障-->
    <ng-container *ngIf="currentNum===9">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(76, $event)">救灾和物资保障处</div>
                <div class="lastone" (click)="showModal(77, $event)">办公室</div>
            </div>
        </div>
    </ng-container>

    <!--通信、电力保障方案-->
    <ng-container *ngIf="currentNum===10">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div (click)="showModal(78, $event)">科技和信息化处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(79, $event)">省通信管理局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(80, $event)">江苏能源监管办</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(81, $event)">省电力公司</div>
            </div>
        </div>
    </ng-container>

    <!--现场信息采集-->
    <ng-container *ngIf="currentNum===11">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(82, $event)">科技和信息化处</div>
                <div class="lastone" (click)="showModal(83, $event)">应急指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(84, $event)">省气象局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(85, $event)">省生态环境厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(86, $event)">省民政厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(87, $event)">省教育厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(88, $event)">江苏海事局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(89, $event)">连云港海事局</div>
            </div>
        </div>
    </ng-container>

    <!--辅助指挥决策信息-->
    <ng-container *ngIf="currentNum===12">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(90, $event)">科技和信息化处</div>
                <div class="lastone" (click)="showModal(91, $event)">应急指挥中心</div>
            </div>
        </div>
    </ng-container>


    <!--事态控制-->
    <ng-container *ngIf="currentNum===13">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(92, $event)">省委宣传部</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(93, $event)">设区市人民政府</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(94, $event)">省指挥部</div>
            </div>
        </div>
    </ng-container>

    <!--善后处理与事故调查-->
    <ng-container *ngIf="currentNum===14">
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(95, $event)">事发地人民政府</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(96, $event)">省卫生健康委员会</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(97, $event)">省民政厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(98, $event)">省生态环境厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div (click)="showModal(99, $event)">规划财务处</div>
                <div class="lastone" (click)="showModal(102, $event)">调查评估和统计处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(100, $event)">保监部门</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div (click)="showModal(101, $event)">省人民政府</div>
            </div>
        </div>
    </ng-container>
    <!--三四级灾害-->
    <!--事故信息接受-->
    <ng-container *ngIf="currentNum===15">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(103, $event)">
                <div>应急指挥中心</div>
            </div>
        </div>
    </ng-container>

    <!--应急指导-->
    <ng-container *ngIf="currentNum===16">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep" (click)="showModal(104, $event)">
                <div>危险化学品安全监督管理处</div>
            </div>
        </div>
    </ng-container>
</div>

<!--弹窗样式一、二-->
<div class="modal" *ngIf="isVisible">
    <div class="closeButton" (click)="handleCancel()">
        <img src="../../../../../../../assets/imgs/tree/close.png"
             alt=""></div>
    <h3>省人民政府</h3>
    <div class="space-middle">
        <div><span>&emsp;联系人</span>：{{data.linkman}}</div>
        <div><span>联系方式</span>：{{data.linkPhone}}</div>
        <div class="clearfix">
            <span>岗位职责</span>：
            <div style="float: right;font-size: 20px;width: 350px;">
                <ng-container *ngFor="let item of data.responsibilityDetailSort;let i =index;">
                    {{i + 1}}、{{item}}<br/>
                </ng-container>
            </div>
        </div>
        <div class="clearfix" *ngIf="userRole===userRoleEnum.Manage;">
            <span>完成进度</span>：
            <div style="float: right;font-size: 20px;">
                <textarea rows="5" cols="33" [(ngModel)]="data.completeSchedule"></textarea><br/>
                <button nz-button nzType="primary" class="btn" (click)="submitBtu()">提交</button>
            </div>
        </div>
        <div style="position:relative;" *ngIf="userRole===userRoleEnum.User;">
            <span>完成进度</span>：
            <div style="position: absolute;top: 0;left: 120px;">
                {{data.completeSchedule}}
            </div>
        </div>
    </div>
</div>
<!--弹窗样式三-->
<div class="modal-big" *ngIf="isWithVisible">
    <div class="closeButton" (click)="handlerCancel()">
        <img src="../../../../../../../assets/imgs/tree/close.png"
             alt=""></div>
    <h3>配合部门</h3>
    <div class="flex-columer" style="justify-content: space-around;align-items:flex-start;margin-top: 20px;">
        <div>
            <ul class="line-time">
                <li *ngFor="let tab of tabContent;" (click)="chooseTab(tab['id'])"
                    [ngClass]="{'active':tabId==tab['id']}">{{tab['responsibilityName']}}</li>
            </ul>
        </div>
        <div>
            <ul class="line-content" *ngFor="let index of tabContent">
                <li *ngIf="tabId==index['id']">
                    <div class="line-space-middle">
                        <div><span>&emsp;联系人</span>：<span style="margin-left: 35px;">{{index['linkman']}}</span></div>
                        <div><span>联系方式</span>：<span style="margin-left: 15px;">{{index['linkPhone']}}</span></div>
                        <div class="clearfix">
                            <span>岗位职责</span>：
                            <div style="float: right;font-size: 20px;width: 320px;">
                                <ng-container *ngFor="let item of index['responsibilityDetailSort'];let i =index;">
                                    {{i + 1}}、{{item}}<br/>
                                </ng-container>
                            </div>
                        </div>
                        <div class="clearfix" *ngIf="userRole===userRoleEnum.Manage;">
                            <span>完成进度</span>：
                            <div style="float: right;font-size: 20px;">
                                <textarea rows="5" cols="30" [(ngModel)]="index['completeSchedule']"></textarea><br/>
                                <button nz-button nzType="primary" class="btn" (click)="submitWithBtu()">提交</button>
                            </div>
                        </div>
                        <div style="position: relative;" *ngIf="userRole===userRoleEnum.User;">
                            <span>完成进度</span>：
                            <div style="position:absolute;left: 120px;top: 0;">
                                {{data.completeSchedule}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
