<div class="tree-diagram">
    <!--省级接警-->
    <ng-container *ngIf="currentNum===1">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>应急指挥中心</div>
            </div>
        </div>
    </ng-container>
    <!--预警监测-->
    <ng-container *ngIf="currentNum===2">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>应急指挥中心</div>
                <div class="lastone">危化处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省气象局</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>风险监测和综合减灾处</div>
            </div>
        </div>
    </ng-container>
    <!--信息研判-->
    <ng-container *ngIf="currentNum===3">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>危化处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>应急指挥中心</div>
            </div>
        </div>
    </ng-container>
    <!--信息上报-->
    <ng-container *ngIf="currentNum===4">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理办公室</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>应急指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>办公室</div>
            </div>
        </div>
    </ng-container>

    <!--先期处置-->
    <ng-container *ngIf="currentNum===5">
        <div class="flex-columer">
            <div class="firstStep">
                <div>事发单位</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>事故地人民政府</div>
            </div>
        </div>
    </ng-container>

    <!--启动应急响应-->
    <ng-container *ngIf="currentNum===6">
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>办公室</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省指挥部</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>区域合作处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>应急指挥中心</div>
                <div class="lastone">办公室</div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentNum===7">
        <!--分组开展应急救援工作-->
        <div class="flex-columer">
            <div class="firstStep">
                <div>综合协调组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>专业处置组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>警戒疏散组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>交通管制组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>医疗救护组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>环境气象监测组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>综合保障组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>应急专家组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
        <!---->
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>舆情新闻组</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>牵头部门（单位）</div>
                <div class="lastone">配合部门（单位）</div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="currentNum===8">
        <!--救援力量调度及保障-->
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLine"><img src="../../../../../../../assets/imgs/tree/2.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>应急指挥中心</div>
                <div>危化处</div>
                <div class="lastone">区域合作处</div>
            </div>
        </div>
    </ng-container>

    <!--应急物资调度及保障-->
    <ng-container *ngIf="currentNum===9">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>救灾和物资保障处</div>
                <div class="lastone">办公室</div>
            </div>
        </div>
    </ng-container>

    <!--通信、电力保障方案-->
    <ng-container *ngIf="currentNum===10">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>科技和信息化处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省通信管理局</div>
            </div>
        </div>
    </ng-container>

    <!--现场信息采集-->
    <ng-container *ngIf="currentNum===11">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>科技和信息化处</div>
                <div class="lastone">应急指挥中心</div>
            </div>
        </div>
    </ng-container>

    <!--辅助指挥决策信息-->
    <ng-container *ngIf="currentNum===12">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>科技和信息化处</div>
                <div class="lastone">应急指挥中心</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省气象局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省生态环境厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省民政厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省教育厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>江苏海事局</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>连云港海事局</div>
            </div>
        </div>
    </ng-container>

    <!--事态控制-->
    <ng-container *ngIf="currentNum===13">
        <div class="flex-columer">
            <div class="firstStep">
                <div>省委宣传部</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>设区市人民政府</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省指挥部</div>
            </div>
        </div>
    </ng-container>

    <!--善后处理与事故调查-->
    <ng-container *ngIf="currentNum===14">
        <div class="flex-columer">
            <div class="firstStep">
                <div>事发地人民政府</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省卫生健康委员会</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省生态环境厅</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省应急管理厅</div>
            </div>
            <div class="oneImg"><img src="../../../../../../../assets/imgs/tree/4.png" alt=""></div>
            <div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/1.png" alt=""></div>
                <div class="imgLines"><img src="../../../../../../../assets/imgs/tree/3.png" alt=""></div>
            </div>
            <div class="threeStep">
                <div>规划财务处</div>
                <div class="lastone">调查评估和统计处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>保监部门</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>规划财务处</div>
            </div>
        </div>
        <br/>
        <div class="flex-columer">
            <div class="firstStep">
                <div>省人民政府</div>
            </div>
            <div><img src="../../../../../../../assets/imgs/tree/5.png" alt=""></div>
            <div class="secondStep">
                <div>调查评估和统计处</div>
            </div>
        </div>
    </ng-container>
</div>
