<nz-content>
<!--头部版块-->
  <nz-page-header class="site-page-header" nzTitle="标准列表">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>首页</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>列表页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>标准列表</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
<!--搜索板块-->
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [hidden]="!control.show">
        <nz-form-item>
          <nz-form-label [nzFor]="'field' + control.index">Field {{ control.index }}</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="placeholder" [formControlName]="'field' + control.index" [attr.id]="'field' + control.index" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'"><i nz-icon nzType="search"></i>搜索</button>
        <button nz-button (click)="resetForm()"><i nz-icon nzType="close-circle" nzTheme="outline"></i>重置</button>
        <a class="collapse" (click)="toggleCollapse()">
        展开
          <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
        </a>
      </div>
    </div>
  </form>
  <!--表格板块-->
  <button nz-button (click)="addRow()" nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>新增</button>
  <br /><br />
  <nz-table #editRowTable [nzData]="listOfData"  nzBordered [nzPageSize]="7">
    <thead>
    <tr>
      <th nzWidth="20%">姓名</th>
      <th nzWidth="15%">年龄</th>
      <th nzWidth="40%">地址</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>
          <a (click)="startEdit(data.id)" class="save"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</a>
        <!--  <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="deleteRow(data.id)"> 删除 </a>-->
          <a (click)="deleteRow(data.id)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.age" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" /></td>
        <td>
          <a (click)="saveEdit(data.id)" class="save"><i nz-icon nzType="check" nzTheme="outline"></i>保存</a>
          <a (click)="cancelEdit(data.id)"><i nz-icon nzType="close" nzTheme="outline"></i>取消</a>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>
</nz-content>
