<section class="layout-content" *ngIf="isShowStandard">
    <form [formGroup]="validateForm">
        <div nz-row>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">死亡人数（人）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="死亡人数（人）" formControlName="peopleDie"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">重伤及急性工业中毒人数（人）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="重伤及急性工业中毒人数（人）" formControlName="peoplePoisoning"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">直接经济损失（万元）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="直接经济损失（万元）" formControlName="economicLoss"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">现场失踪人数（人）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="现场失踪人数（人）" formControlName="peopleLoss"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">毒性气体储量（吨）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="毒性气体储量（吨）" formControlName="toxicGas"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8"></div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">发生灾害地区</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <div nz-row>
                            <div nz-col [nzSpan]="4">
                                <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="cityId"
                                           (ngModelChange)="changeProvince($event)">
                                    <nz-option *ngFor="let item of provinceData" [nzValue]="item.value"
                                               [nzLabel]="item.label"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="font-sel" [nzSpan]="1">市</div>
                            <div nz-col [nzSpan]="4">
                                <nz-select class="margin-none" nzPlaceHolder="下拉选择"  formControlName="areaId"
                                          >
                                    <nz-option *ngFor="let c of cityData" [nzValue]="c.value"
                                               [nzLabel]="c.label"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="font-sel" [nzSpan]="3"> 区(县)</div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</section>
<div class="drive">
    <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}" (click)="isShowStandard=!isShowStandard"></div>
</div>
<ng-container *ngIf="currentPage===numVariable.one">
    <app-level-one></app-level-one>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.two">
    <app-level-two [responsibilityEntities]="responsibilityEntities"></app-level-two>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.three">
    <app-level-three></app-level-three>
</ng-container>

<footer *ngIf="currentPage!==0">
    <div class="send-btn"><img src="assets/imgs/send-icon.svg" alt="">发 布</div>
</footer>
