.layout-content {
  width: 100%;
  padding: 30px 0;
  background: #F9F9F9;
  border: 1px solid #F2F3F5;
  box-shadow: 3px 3px 12px 0 rgba(228, 228, 228, 0.50);
}

.layout-content form {
  width: auto;
  margin: auto;
}

nz-input-number {
  width: 150px;
  height: 32px;
}

nz-form-label {
  text-align: right;
}

nz-select {
  margin: 0 10px 25px 10px;
  width: 184px;
  height: 32px;
}


nz-form-label {
  text-align: right;
}
