<nz-page-header class="site-page-header" nzTitle="新增预案信息"></nz-page-header>
<div class="normal-wrap">
    <div class="form-wrap">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzType="flex" nzJustify="start">
            <nz-card nzTitle="▏预案名称" [nzBordered]="false">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>预案名称</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <input nz-input placeholder="请输入预案名称" formControlName="planName" maxlength="50"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>预案类别</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <nz-select (ngModelChange)="changeAccidentIdValue($event)" nzPlaceHolder="请下拉选择预案"
                                   formControlName="accidentType">
                            <nz-option *ngFor="let item of accidentTypeOptions" [nzLabel]="item.label"
                                       [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>灾害名称</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <nz-select (ngModelChange)="changeDisasterName($event)" nzPlaceHolder="请下拉选择类型"
                                   formControlName="accidentId">
                            <nz-option *ngFor="let item of temporaryNameOptions" [nzLabel]="item.label"
                                       [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>灾害等级</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <nz-select nzPlaceHolder="请下拉选择类型"
                                   formControlName="planGrade">
                            <nz-option *ngFor="let item of disasterLevelOptions" [nzLabel]="item.label"
                                       [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
            <nz-card nzTitle="▏总指挥" [nzBordered]="false">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>负责部门</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <nz-select nzPlaceHolder="请下拉选择部门" formControlName="deptId"
                                   (ngModelChange)="changeSelValueDept($event)">
                            <nz-option *ngFor="let item of deptOptions" [nzLabel]="item.label"
                                       [nzValue]="item.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">座机</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                        <input nz-input placeholder="请输入座机" formControlName="deptPhone" readonly/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired>岗位职责</nz-form-label>
                    <nz-form-control [nzSpan]="10">
                    <textarea formControlName="resyDetail" nz-input rows="6"
                              placeholder="请输入岗位职责..." readonly></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="10" nzOffset="8">
                        <input nz-input formControlName="resyId" [hidden]="true"/>
                    </nz-form-control>
                </nz-form-item>
            </nz-card>
            <nz-card nzTitle="▏管理小队" [nzBordered]="false">
                <nz-form-item>
                    <button nz-button [nzType]="'dashed'" (click)="add()" nzBlock>
                        <i nz-icon nzType="plus"></i>
                        <span>新增小队</span>
                    </button>
                    <nz-table style=" width: 100%;" formArrayName="addEmergencyTeamDTOS" [nzData]="items.value"
                              [nzShowPagination]="false"
                              [nzBordered]="false" [nzShowPagination]="false">
                        <tbody>
                        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                            <nz-divider [nzDashed]="true"></nz-divider>
                            <nz-card [nzExtra]="Template" [nzHoverable]="true" [ngStyle]="save" nzTitle="小队">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzRequired>小队岗位</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <nz-select nzPlaceHolder="请下拉选择小队" formControlName="resyId"
                                                   (ngModelChange)="changeSelValueTeam($event,i)">
                                            <nz-option *ngFor="let item of resyOptions" [nzLabel]="item.label"
                                                       [nzValue]="item.value"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzRequired>负责部门</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <nz-select nzPlaceHolder="请下拉选择部门" formControlName="deptId"
                                                   (ngModelChange)="changeSelValue($event,i)">
                                            <nz-option *ngFor="let item of deptOptions" [nzLabel]="item.label"
                                                       [nzValue]="item.value"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6">座机</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input placeholder="请输入座机" formControlName="deptPhone" readonly/>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzRequired>岗位职责</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                    <textarea formControlName="resyDetail" nz-input rows="6"
                              placeholder="请输入岗位职责..." readonly></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </nz-card>
                            <ng-template #Template>
                                <a nz-popconfirm nzPopconfirmTitle="你确定删除此项?"
                                   (nzOnConfirm)="del(i)" (nzOnCancel)="cancel()">
                                    <i nz-icon nzType="delete" nzTheme="twotone"></i>
                                </a>
                            </ng-template>
                        </tr>
                        </tbody>
                    </nz-table>
                </nz-form-item>
            </nz-card>
            <nz-form-item>
                <nz-form-control [nzSpan]="6" nzOffset="7">
                    <button nz-button nzType="primary" class="btn">提交</button>
                    <button nz-button nzType="default" (click)="returnToList()">取消</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

