<!--<div class="sharpContainer">
    <h2>工作汇报流程</h2>
    <div class="big-hexagon-l"></div>
    <div class="mid-hexagon-l"></div>
    <div class="left-hexagon">
        江苏省自然资源管理厅应急管理办事处
    </div>
    <p class="work">汇报工作</p>
    <ul class="arrow">
        <li></li>
        <li></li>
        <li></li>
        <li style=" border-left: 20px solid #EA7431;opacity: 0.3;"></li>
        <li style=" border-left: 20px solid #EA7431;opacity: 0.1;"></li>
    </ul>


    <div class="big-hexagon-r"></div>
    <div class="mid-hexagon-r"></div>
    <div class="right-hexagon">
        国务院
    </div>
</div>-->
<nz-page-header class="site-page-header" nzTitle="预案信息详情"></nz-page-header>
<div class="normal-wrap">
    <div class="form-wrap">
        <nz-card nzTitle="▏工作流程" [nzBordered]="false">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="工作汇报流程">省应急管理厅向国务院安委办汇报</nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
        <nz-card nzTitle="▏预案名称" [nzBordered]="false">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="预案名称">{{this.dataInfo.planName}}</nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
        <nz-card nzTitle="▏总指挥" [nzBordered]="false">
            <nz-descriptions>
                <nz-descriptions-item nzTitle="负责部门"
                                      [nzSpan]="1">{{this.commanderInfos.deptName}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="座机">{{this.commanderInfos.deptPhone}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="岗位职责">{{this.commanderInfos.resyDetail}}</nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
        <nz-card nzTitle="▏管理小队" [nzBordered]="false">
            <nz-card nzType="inner" [nzTitle]="txt['resyName']" [nzBordered]="false" *ngFor="let txt of teamInfos">
                <nz-descriptions>
                    <nz-descriptions-item nzTitle="小队岗位" [nzSpan]="1">{{txt['resyName']}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="负责部门">{{txt['deptName']}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="座机">{{txt['deptPhone']}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="岗位职责">{{txt['resyDetail']}}</nz-descriptions-item>
                </nz-descriptions>
            </nz-card>
        </nz-card>

        <button class="send-msg" nz-button nzType="primary" (click)="sendMsg()" nzDanger>一键启动预警</button>
        <button class="send-msg" nz-button nzType="primary" (click)="sendMsg()">一键取消预警</button>
    </div>
</div>
