<ng-container *ngIf="!selAlarm">
    <section class="layout-content" *ngIf="isShowStandard">
        <form [formGroup]="validateForm">
            <div nz-row>
                <div nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12">死亡人数（含失踪）</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-input-number nzPlaceHolder="死亡人数（含失踪）" formControlName="peopleLossAndDie"
                                             [nzMin]="1"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12">直接经济损失</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="propertyLossGrade"
                                       (ngModelChange)="changeProvince($event)">
                                <nz-option *ngFor="let item of earthquakeEconomicLevelOptions" [nzValue]="item.value"
                                           [nzLabel]="item.label"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12">省陆地行政区域震级</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-input-number nzPlaceHolder="省陆地行政区域震级" formControlName="earthquakeLand"
                                             [nzMin]="1"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="16">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12">近海海域50千米震级或我省陆地边界50千米以内的邻省震级</nz-form-label>
                        <nz-form-control [nzSpan]="4">
                            <nz-input-number nzPlaceHolder="近海海域50千米震级" formControlName="earthquakeSea"
                                             [nzMin]="1"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </section>
    <div class="drive">
        <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}"
             (click)="isShowStandard=!isShowStandard"></div>
    </div>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.one">
    <app-earth-level-one [responsibilityEntities]="responsibilityEntities"></app-earth-level-one>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.two">
    <app-earth-level-two [cityName]="cityName" [responsibilityEntities]="responsibilityEntities"></app-earth-level-two>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.three||currentPage===numVariable.four">
    <app-earth-level-three [responsibilityEntities]="responsibilityEntities"></app-earth-level-three>
</ng-container>

<footer *ngIf="currentPage!==0&&!selAlarm">
    <div class="send-btn" (click)="sendMsg()"><img src="assets/imgs/send-icon.svg" alt="">发 布</div>
</footer>
