<section class="layout-content" *ngIf="isShowStandard">
    <form [formGroup]="validateForm">
        <div nz-row>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">死亡和失踪总人数（人）</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="死亡和失踪总人数（人）" formControlName="peopleDie"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">直接经济损失</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="直接经济损失" formControlName="peoplePoisoning"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">省陆地行政区域震级</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="省陆地行政区域震级" formControlName="economicLoss"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">近海海域50千米震级</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="近海海域50千米震级" formControlName="peopleLoss"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="14">
                <nz-form-item>
                    <nz-form-label [nzSpan]="12">我省陆地边界50千米以内的邻省震级</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number nzPlaceHolder="我省陆地边界50千米以内的邻省震级" formControlName="toxicGas"
                                         [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8"></div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">发生灾害地区</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <div nz-row>
                            <div nz-col [nzSpan]="4">
                                <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="cityId"
                                           (ngModelChange)="changeProvince($event)">
                                    <nz-option *ngFor="let item of provinceData" [nzValue]="item.value"
                                               [nzLabel]="item.label"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="font-sel" [nzSpan]="1">市</div>
                            <div nz-col [nzSpan]="4">
                                <nz-select class="margin-none" nzPlaceHolder="下拉选择"  formControlName="areaId"
                                >
                                    <nz-option *ngFor="let c of cityData" [nzValue]="c.value"
                                               [nzLabel]="c.label"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col class="font-sel" [nzSpan]="3"> 区(县)</div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</section>
<div class="drive">
    <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}" (click)="isShowStandard=!isShowStandard"></div>
</div>
<ng-container *ngIf="currentPage===numVariable.one">
    <app-level-one [responsibilityEntities]="responsibilityEntities"></app-level-one>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.two">
    <app-level-two [cityName]="cityName" [responsibilityEntities]="responsibilityEntities"></app-level-two>
</ng-container>
<ng-container *ngIf="currentPage===numVariable.three||currentPage===numVariable.four">
    <app-level-three [responsibilityEntities]="responsibilityEntities"></app-level-three>
</ng-container>

<footer *ngIf="currentPage!==0">
    <div class="send-btn" (click)="sendMsg()"><img src="assets/imgs/send-icon.svg" alt="">发 布</div>
</footer>
