header {
  width: 100%;
  min-width: 1200px;
  height: 80px;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 76, 173, 0.68);
  background-color: #0058C9;
}


.file-wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 800px;
  margin: auto;
  overflow: hidden;
}

nz-layout {
  width: auto;
  height: 100%;
  background-color: #fff;
}

.file-wrap nz-select {
  margin: 0 8px 10px 0;
  width: 235px;
}


.marginRight {
  margin-left: 20px;
  margin-right: 20px;
}

button {
  width: 81px;
}
